/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*Global settings*/
*,*::after,*::before{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    margin: 0;
    padding: 0;
 }

 html{
    font-size: 62.5%;
 }
 
 body{
    font-family: 'Cairo', sans-serif;
    
 }




 /*Main container*/
 .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
 }

 


/* Search bar*/
.search-bar{
    position: relative; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: black;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

/*logo*/
.logo{
    border-radius: 50%; 
    width: 30px;
    height: 30px;
    margin: 0.5rem;
}

/*search box*/
.search{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.5rem;
    position: relative;
    margin-right: 0.5rem;
}

/* search box controls */
.search > button{
    position: absolute;
     top: 0;
     right: 0rem;
     padding: 1rem;
     border: none;
     background-color:#003366;
     border-radius: 2px;
     color: white;  
     font-size: 1.6rem;
    
    
}

.search > input{
     padding: 1rem;
     border: none;
     border-radius: 2px; 
     font-size: 1.6rem;   
     
}

/*Navigation bar*/
.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0.2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color:#003366;
    -ms-flex-line-pack: center;
        align-content: center;
}

/*Navigation link*/
.nav > a:link, a:visited{
    margin: 0.5rem;
    text-decoration: none;
    color:white;
    font-weight: bold;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

/*Navigation link hover effect*/
.nav > a:hover, a:active{
    background-color:greenyellow;
    padding: 0 0.8rem;
    border-radius: 5px;
    color:blue
}


 .main-content{
     position: relative; 
     color: white;
     -webkit-box-flex:1;
         -ms-flex:1;
             flex:1;
     padding:1rem;
     background-image:url("../images/background.jpg"),-webkit-gradient(linear, left top, right top, from(rgba(2, 0, 36, 0.37)), color-stop(35%, rgba(9,9,121,1)), to(rgba(0,212,255,1)));
     background-image:url("../images/background.jpg"),-o-linear-gradient(left, rgba(2, 0, 36, 0.37) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
     background-image:url("../images/background.jpg"),linear-gradient(90deg, rgba(2, 0, 36, 0.37) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
     -ms-flex-item-align: stretch;
         -ms-grid-row-align: stretch;
         align-self: stretch;
 }

 hr{
     height: 1px;
     color:grey;
 }

 .main-content > h1{
     text-align: center;
     font-size: 2rem;
     margin: 1.6rem
 }

 

 .footer{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color:#003366;
    color: white;
    padding:0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 1.6rem;
 }


  /* main content */
.content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
    padding:1.6rem;
    padding-top: 4.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.content > P {
    text-align: center;
    font-size: 2rem;
}

.content > h1, h2 {
    text-align: center;
}

.content > a{
   text-decoration: none;
   background-color:white;
   margin: 1.6rem;
   padding:0.5rem 1rem;
   color:blue
}

.content > a:hover{
    background-color:yellowgreen;
}



#countDown{
    margin-top: 1.6rem;
    display:inline-block;
    padding:1rem;
    color:greenyellow;
    font-size: 3rem;
    background-color: black;
    text-align: center;
    border-radius: 5px;
}

/*Hide an element*/
.hide{
    display: none;
}

/*Menu Icon*/
.menu-icon{
    position: fixed;
    display:none;
    top:6rem;
    right:3rem;
    background-color:#003366be;
    border-radius: 50%;
    behavior: url(PIE.htc); /* IE8 */
    padding: 1.5rem;
    z-index: 5;
    
}

.menu-icon > div{
    width: 3rem;
    height: 0.5rem;
    background-color: white;
    margin: 0.5rem;
}

/*Hide the check box*/
#navigation-toggle{
    display: none;
}

/*show the navigation when the menu-icon is checked*/
#navigation-toggle:checked ~ .nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*Change the icon position to relative when is checked*/
#navigation-toggle:checked ~ .menu-icon{
    position: absolute;
}

/*Hide the last icon element*/
#navigation-toggle:checked ~ .menu-icon .last{
    display: none;
}

/*Rotate the first icon element*/
#navigation-toggle:checked ~ .menu-icon .first{
    position: absolute;
    top:1rem;
    right:0.5rem;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

/*Rotate the middle icon element*/
#navigation-toggle:checked ~ .menu-icon .middle{
    position: absolute;
    top:1rem;
    right:0.5rem;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/*Sign up modal*/
.modal{ 
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-color:black;
    font-size: 1.6rem;
    padding: 0.5rem;
    z-index: 10;
    
}



/*Modal close button positioning*/
#modal-close{
    position: fixed;
    top:0.5rem;
    right: 1rem;
}

/*Modal a tag remove default behavior*/
#modal-close:link, #modal-close:visited{
    text-decoration: none;
}

/*Modal close button hover effect*/
#modal-close:hover{
    color:rgb(167, 37, 37)
}



/*form container layaout*/
.form-container{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.6rem;
}


#with-google{
    border: none;
    background-color: black;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#with-google img{
    width: 20rem;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 1rem;
}



/*input control*/
.form-container input, .form-btn-control button{
   padding: 1rem;
   font-size: 1.6rem;
}

.form-container p{
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.form-container hr{
    border-color: gray;
}

/*form button*/
.btn{
    border: none;
    background-color: #003366;
    color: white;
    border-radius: 2px;
    margin-right:0.5rem;
    text-decoration: none;
}

.btn:hover, .btn:active{
    border: 1px solid white;
}

/*button container*/
.form-btn-control{
   -ms-flex-item-align: center;
       -ms-grid-row-align: center;
       align-self: center;
}

.error{ 
   border-color: red;
   font-size: 1.6rem;
   border-width: 0.2rem;
   
}

.error-message{
    display: none;
    margin:0.5rem;
    background-color: white;
    border-radius: 2px;
    color:red;
    padding:0 1rem;
}



/*Media query for responsive design when the browser window is 890px wide or less*/
@media only screen and (max-width: 890px) {
      .nav{
          display:none;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          -ms-flex-line-pack: start;
              align-content: flex-start;
          padding-left: 1.6rem;
          min-width: 50vw;
      }
     

      .menu-icon{
          display: block;
      }
}