/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*leaderboard page*/
.bottom-content{
    font-size: 25px;
}
.leaderboard-content{
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center ;
        -ms-flex-align: center ;
            align-items: center ;
    background-color: rgba(0, 0, 0, 0.63);
}
table {
    /*structure for table*/
    
    font-family: arial, sans-serif;
    border-collapse: collapse;
    min-width: 100vw;
  }
  td, th {
      /*table data header data*/
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  /*Specify a background color for every element that is the second child of its parent*/
  tr:nth-child(even) {
    background-color:rgba(115, 255, 0, 0.301);
  }
  
  .img-containter{
    
    -ms-flex-line-pack: center;
    
        align-content: center;

  }
 .banner{
    margin: 30px 90px;
    color: rgba(255, 255, 255, 0.384);
}
.banner h1{
    font-size: 50px;
    margin-bottom: 20px;
    -ms-flex-line-pack: center;
        align-content: center;
}
.banner h1 span{
    color: yellowgreen;
}
/*give button a position and style*/
.btn{
    font-size: 20px;
    padding: 30 20PX;
    border: 1px;
    background: yellowgreen;
    font-weight: bold;
    cursor: pointer;
    -ms-flex-line-pack: center;
        align-content: center;
    min-width: 5vw;

}

/*Tornement page*/
/*for banner text in Tournement page*/
.top-banner-T{
    text-align: center;
    color: #d348369a;
    font-size:50px;
    
    border: 1px;
}
.tournament-details>h2{
    color: #d348369a;;
    text-align: center;
    font-size: 25px;
}

/*for banner text in Rules page*/
.top-banner-R{           
    text-align: center;
    color: #d348369a;
    font-size:50px;
    background-origin: padding-box;
    border: 1px;
}
/*for banner text in Leaderboard page*/
.banner-top-L{
    text-align: center;
    color: #d348369a;
    font-size:50px;
    background-origin: padding-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px;
}
 .img-cont{
    -ms-flex-item-align:center;
        align-self:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

 }/*keep div flexable in a vertical display*/
 .img-wrapper{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient:vertical;
     -webkit-box-direction:normal;
         -ms-flex-direction:column;
             flex-direction:column;
 }/*img dimensions*/
 .img-wrapper img{
     width: 300px;
     -o-object-fit: cover;
        object-fit: cover;
     height: 300px;
     margin: 1rem;
     display: inline-block;/*allows for width and height to be set*/
 }
 .img-wrapper a{
     font-size: 2.5rem;
     background-color: black;
     color:white;
     text-decoration: none;
    padding: 0 1rem;
 }
 /*set color for when hover on a tags*/
 .img-wrapper a:hover{
     background-color: #4CAF50;
     
 }

.rule-fq{
    padding: 1.6rem;
    background-color: rgba(0, 0, 0, 0.425);
    margin: 1.6rem;

}
.rule-fq a{
    text-decoration: none;
    color: white;

}
.rule-fq a::before{
    content: "\002B" ;
    color:yellowgreen;
    margin: 0.5rem;
}
.rule-fq p > a:hover{
    background-color: yellowgreen;
}
.rule-fq div.answer{
    padding-left: 2rem;
    color: rgb(180, 75, 75);
}
.content p > a{
    padding: 1rem 5rem ;
    text-decoration: none;
    margin-top: 1rem;

}


/*Media query for responsive design when the browser window is 670px wide or less*/
@media only screen and (max-width: 670px) {
    .img-cont{
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
    }
}