/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.form-reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
    background-color: rgba(0, 0, 0, 0.598) ;
    -ms-flex-item-align: center;
        align-self: center;
    
}
.form-reg button {
    margin: 1rem;
    padding: 1rem 1.6rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background-color: cornflowerblue;
    border: none;
}

.form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem;
}

.form-group input {
    padding: 1.6rem;
    font-size: 1.6rem;
}

.form-group select {
    padding: 1.6rem;
    font-size: 1.6rem;
}

.input-group {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

