.form-reg {
    display: flex;
    flex-direction: column; 
    background-color: rgba(0, 0, 0, 0.598) ;
    align-self: center;
    max-height: 80vw;
}
.form-reg button {
    margin: 1rem;
    padding: 1rem 1.6rem;
    align-self: flex-end;
    background-color: cornflowerblue;
    border: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form-group input {
    padding: 1.6rem;
    font-size: 1.6rem;
}

.form-group select {
    padding: 1.6rem;
    font-size: 1.6rem;
}

.input-group {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

